.section {
    width: 100%;
    max-width: var(--main-max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section p {
    padding: 0 16px;
    max-width: var(--main-max-width);
    margin: 0 0 16px;
    font-size: var(--font-size-medium);
}

.section a {
    color: var(--color-primary);
}

.section a:hover {
    background-color:  rgba(2, 40, 89, 0.1);
}


.section:nth-child(even) {
    background-color: var(--color-bg);
}

.section:nth-child(odd) {
    background-color: var(--color-bg-alternative);
}
