.status-tag {
    padding: 4px;
    border-radius: var(--s-border-radius);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    font-size: 0.875rem;
    background-color: var(--color-bg);
}

.grey {
    border: 1px solid var(--grey);
    color: var(--grey);
}

.yellow {
    border: 1px solid var(--yellow);
    color: var(--yellow);
}

.red {
    border: 1px solid var(--red);
    color: var(--red);
}