.search-field {
    flex: 1 1 auto;
    margin: var(--spacing-medium) var(--spacing-large) var(--spacing-medium) var(--spacing-medium);
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    font-size: var(--font-size-large);
    background-color: var(--color-bg-alternative);
    border: 1px solid var(--color-border);
    border-radius: var(--s-border-radius);
    min-width: 100px;
}
@media (min-width: 600px) {
    .search-field {
        max-width: 600px;
    }
}

.search-input {
    flex: 1 1 auto;
    min-width: 0;
    padding: 0 4px;
    outline: none;
    border: none;
    background-color: transparent;
}

.search-label {
    height: 100%;
    padding: 8px;
    flex: 0 0 auto;
    border: none
}

.clear-button {
    height: 100%;
    flex: 0 0 auto;
    padding: 11px;
    border:  none;
    outline: none;
    background-color: transparent;
}

.clear-button svg {
    padding: 2px;
    border-radius: var(--s-border-radius);
    width: var(--icon-small-size);
    height: var(--icon-small-size);
}

.search-label svg {
    width: var(--icon-size);
    height: var(--icon-size);
}

.search-field:has(*:not([disabled]):hover) {
    background-color: var(--color-icon-hover);
}

.search-field:has(*:focus) {
    background-color: var(--color-input-background);
    outline: 2px solid var(--color-primary);
    outline-offset: -1px;
}

.clear-button:hover svg {
    background-color: var(--color-icon-hover);
}

.clear-button:active svg {
    background-color: var(--color-icon-active);
}

.clear-button[disabled] {
    pointer-events: none;
}


