:root {

  --color-primary: #0062fa;
  --color-active: #0041a4;

  --color-text: #242424;
  --color-text-lighter: #525252;

  --color-primary-light: rgba(0, 98, 250, 0.05);

  --color-bg: #ffffff;
  --color-bg-alternative: #f2f4f5;
  --color-input-background: rgba(2, 40, 89, 0.1);
  --color-icon-hover: rgba(2, 40, 89, 0.15);;
  --color-icon-active: rgba(2, 40, 89, 0.3);;

  --color-border: #DfDfE8;

  --s-border-radius: 4px;
  --border-radius: 12px;

  --shadow-layer-1-color: #0000000d;
  --shadow-layer-2-color: #0000001a;

  --icon-size: 24px;
  --icon-small-size: 18px;

  --main-max-width: 800px;

  --spacing-xx-small: 3px;
  --spacing-x-small: 6px;
  --spacing-small: 8px;
  --spacing-medium: 12px;
  --spacing-large: 16px;
  --spacing-x-large: 32px;

  --font-size-regular: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 2.5rem;
  --font-size-xx-large: 3rem;

  --font-regular: 300;
  --font-light-bold: 400;
  --font-medium-bold: 600;
  --font-bold: 800;

  --color-disabled: #15141a66;
  --grey: #77848C;
  --yellow: #F2A71B;
  --red: #A60512;
}

* {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  color: var(--color-text);
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-weight: var(--font-regular);
  background-color: var(--color-bg);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  width: 95%;
  max-width: var(--main-max-width);
  margin: var(--spacing-large);
  font-size: var(--font-size-xx-large);
  font-weight: var(--font-bold);
  border-bottom: 1px solid var(--color-primary);
}

h2 {
  width: 95%;
  max-width: var(--main-max-width);
  color: var(--color-text-lighter);
  font-size: var(--font-size-large);
  font-weight: var(--font-medium-bold);
}

p {
  margin: 0;
}

.sr-only {
  width: 0;
  height: 0;
  margin: 0;
  overflow: hidden;
}

li {
  text-decoration: none;
  list-style: none;
}

dl, dt, dd {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  padding: 0;
  margin: 0;
}


/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}